@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advan';
@import 'blocks/forms';
@import 'blocks/run';
@import 'blocks/carousell';
@import 'blocks/tabs';
@import 'blocks/review';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'base/animated';


@import 'blocks/media';