.advan {
    min-height: 470px;
    padding: 70px 0 95px 0;
    background-color: #f6f6f6;
    &__header {
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;       
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        img {
            display: block;
            margin: 65px auto 0;
        }
        h3 {
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            margin-top: 38px;
        }
        p {
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            width: 247px;
            margin-top: 25px;
            span {
                color: #ff0000;
                text-decoration: underline;
            }
        }
    }
}