@media ( max-width: 767px ) {
    .header {
        &__official {
            margin-right: 15px;
        }
        &__contacs {
            margin-right: 15px;
            .phone {
                font-size: 17px;
            }
        }
    }
    
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .advan {
        &__items {
            display: flex;
            flex-direction: column;
        }
    }
    .run {
        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
            margin-top: 40px;
        }
        .form_run {
            margin-top: 30px;
            align-items: center;
        }
    }
    .tab {
        &__cards {
            display: flex;
            justify-content: center;
        }
    }
    .review {
        &__wrapper {
            flex-direction: column;
            text-align: center;
        }
        &__img {
            margin-left: 62px;
        }
        &__descr {
            margin-top: 20px;
            
            &_info {
                width: 100%;
                
            }
        }
        
    }
}

@media ( max-width: 575px ) {
    
    .header {
        &__official {
            display: none;
        }
        &__logo {
            margin-left: 15px;
        }
    }
}





