@media ( max-width: 991px ) {
    .promo {
        .header {
            margin-right: 25px;
        }
        &__wrapper {
            margin-right: 30px;
        }
    }
    .carousell {
        .slick-next {
            right: 42px;
        }
        .slick-prev {
            left: 11px;
        }
    }
}
  


@media ( max-width: 767px ) {
    .header {
        &__official {
            margin-right: 15px;
        }
        &__contacs {
            margin-right: 15px;
            .phone {
                font-size: 17px;
            }
        }
        &__logo {
            margin-left: 20px;
        }
    }

    .promo {
        &__wrapper {
            align-items: center;
        }
    }

    .advan {
        &__items {
            display: flex;
            flex-direction: column;
            img {
                margin: 40px auto 0;
            }
            p {
                margin-top: 15px;
            }
            h3 {
                margin-top: 20px;
            }
        }
    }

    .run {
        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
            margin-top: 40px;
        }
        .form_run {
            margin-top: 30px;
            align-items: center;
        }
    }

    .review {
        &__wrapper {
            flex-direction: column;
            text-align: center;
        }
        &__img {
            margin-left: 62px;
        }
        &__descr {
            margin-top: 20px;
            &_info {
                width: 70%;
                margin: 0 auto;
            }
        }
        
    }

    .carousell {
        &__slide {
            img {
                width: 70%;  
            }
            .slick-next {
                top: 110%;
                left: 60%;
            }
            .slick-prev {
                top: 110%;
                left: 40%;  
            } 
        }
          
    }

    .tab {
        &__cards {
            display: flex;
            justify-content: space-evenly;
        }        
    }

    .footer {
        &__info {
            position: absolute;
            top: 0;
            width: 100%;
            height: 50px;
            left: 100%;
            transform: translateX(-100%);
            display: flex;
            justify-content:space-between;
            align-items: center; 
        }
        &__social {
            margin-top: 0;
        }
    }
}

@media ( max-width: 575px ) {

    .header {
        &__official {
            display: none;
        }
        &__logo {
            margin-left: 15px;
        }
    }

    .footer {
        &__addr {
            font-size: 15px;
            margin-bottom: 0;
        }
        &__phone {
            font-size: 15px;
            margin-top: 10px;
        }
        &__social {
            &-item {
                width: 40px;
                height: 40px;
            }
        }
    }

    .carousell {
        min-height: 530px;
        .slick-prev {
            top: 118%;

        }
        .slick-next {
            top:  118%;
            left: 55%;
        }
    }

    .tab {
        &__group {
            width: 90%;
            margin-top: 60px;
        }
        li {
            font-size: 14px;
        }
    }
}

@media ( max-width: 500px ) {
    .promo {
        &__header {
            font-size: 20px;
            margin-top: 75px;
            .button {
                width: 125px;
                font-size: 10px;
            }
            &__contacs {
                .phone {
                    font-size: 14px;
                }
            }
        }
        &__subheader {
            font-size: 14px;
            margin-top: 0;
        }
        &__items {
            justify-content: center;
            width: 70%;
        }
        .button_main {
            width: 230px;
            font-size: 15px;
        } 
        &__link {
            a {
                font-size: 15px;
            }
        }

    }

    .run {
        &__title {
            font-size: 22px;
        }
        &__subtitle {
            margin-top: 30px;
            font-size: 18px;
        }
        .form {
            input {
                width: 275px;
            }
        }
        .button_form {
            width: 275px;
        }
    }

    .carousell {
        min-height: 450px;
        &__slide {
            img {
                width: 80%;
            }
        }
        .slick-next, .slick-prev {
            top: 110%;
            img {
                width: 25px;
                height: 40px;
            }
        }
    }

    .tab {
        &__title {
            margin-left: 25px;
        }
        &__group {
            width: 100%;
            margin-top: 45px;
        }
        &__name {
            height: 45px;
            line-height: 20px;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        li {
            font-size: 12px;
        }
        &__cards {
            justify-content: center;
            margin-left: 30px;
        }
    }

    .review {
        &__title {
            font-size: 27px;
            margin-left: 30px;
        }
        &__wrapper {
            margin-left: 30px;
        }
    }

    .footer {
        &__info {
            padding: 0 15px;
            height: 100px;
        }
        &__social {
            a {
                width: 33px;
                height: 33px;
                margin: 0 5px;
                img {
                    height: 22px;
                }
            }
        }
    }

    
    
}