.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.56);
   
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 40px;
    width: 380px;
    min-height: 400px;
    background-color: #f2f2f2;
    &__close {
        position: absolute;
        font-size: 41px;
        top: -3%;
        right: -10%;
        width: 21px;
        height: 21px;
        color: $main-color;
        cursor: pointer;
        &:hover {
            color:rgb(241, 121, 112);
        }
    }
    &__title {
        text-align: center;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        margin-top: 11px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
    }
    .button {
        text-align: center;
        margin: 0 auto;
    }
    #thanks {
    min-height: 140px;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}

